<div class="row">
    <div class="col-lg-12">
        <h1>
            History
            <small>List of executed actions</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#main"><i class="fa fa-dashboard"></i>
                Overview</a></li>
            <li class="active"><i class="fa fa-history"></i>
                History
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
        <div ng-bind-html="alert.msg"></div>
    </alert>
</div>
<div class="top-buffer">
    <table ng-table="tableParamspaginationHistory" class="table table-bordered table-striped table-hover tablesorter">
        <thead>
        <tr>
            <th class="leftalign" ng-click="predicate = 'id'; reverse = !reverse">Id <i class="fa fa-sort"></i></th>
            <th class="leftalign" ng-click="predicate = 'username'; reverse = !reverse">User Name <i
                    class="fa fa-sort"></i></th>
            <th class="leftalign" ng-click="predicate = 'timestamp'; reverse = !reverse">Time Stamp <i
                    class="fa fa-sort"></i></th>
            <th class="leftalign" ng-click="predicate = 'method'; reverse = !reverse">Method <i class="fa fa-sort"></i>
            </th>
            <th class="leftalign" ng-click="predicate = 'path'; reverse = !reverse">Path <i class="fa fa-sort"></i></th>
            <th class="leftalign" ng-click="predicate = 'result'; reverse = !reverse">Result <i class="fa fa-sort"></i>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="data in $data | orderBy:predicate:reverse">
            <td>{{data.id}}</td>
            <td>{{data.username}}</td>
            <td>{{data.timestamp}}</td>
            <td>{{data.method}}</td>
            <td>{{data.path}}</td>
            <td>{{data.result}}</td>
        </tr>
        </tbody>
    </table>
</div>


